/* import tainwindcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* import tainwindcss */

@layer base {
  html {
    direction: rtl;
    background-color: white;
    font-family: "Vazir";
  }
}

/* my custom class */

@layer components {
  .blue__title {
    @apply hover:text-[#3A4BA8] transition-colors ease-out duration-300 font-bold text-gray-500;
  }
  .animate__delay_300 {
    @apply transition-all ease-out duration-300;
  }
}
